.container {
  composes: fill from 'styles/layout.css';
  background: var(--app-bg-other);
  justify-content: center;
  align-items: center;
}

.column {
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
}

.input {
  margin-bottom: 15px;
  min-height: 200px;
  resize: none;
}

.buttons {
  display: flex;
}

.buttons button {
  width: 100%;
}

.buttons > * {
  flex: 0 0 50%;
}

.buttons > *:first-child {
  padding-right: 5px;
}
.buttons > *:last-child {
  padding-left: 5px;
}
