.glass {
  background: rgba(60, 60, 60, 0.44);

  /* TODO: Check back later to see if background blur is less buggy */
  /* background: rgba(120, 120, 120, 0.33); */
  /* backdrop-filter: blur(20px); */
  /* overflow: hidden; */
}

.rounded {
  border-radius: 8px;
}

.absolute-full {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
