.h1 {
  font-size: 36px;
  font-weight: bold;
}

.h2 {
  font-size: 24px;
  font-weight: bold;
}

.label {
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
}
