.container {
  --chat-fade-delay: 10s;
  --chat-fade-duration: 1s;
  display: block;
}

.container:not(.focused) {
  pointer-events: none;
}

.container:not(.focused) .background,
.container:not(.focused) .messageInput {
  opacity: 0;
}

.wrapper {
  position: relative;
  height: 100%;
}

.anim {
  opacity: 1;
  transition: opacity var(--overlay-anim-duration) ease-in;
}

.background {
  composes: glass rounded absolute-full from '~styles/layout.css';
  composes: anim;
  z-index: 4;
}

.foreground {
  composes: absolute-full from '~styles/layout.css';
  z-index: 5;

  display: flex;
  flex-direction: column;
}

.chatWrapper {
  display: flex;
  flex-grow: 1;
}

.messages {
  composes: scroller from '~styles/layout.css';
  flex-grow: 1;
  overflow-y: auto;
  position: relative;
}

.container.focused .messages {
  cursor: auto;
  user-select: text;
}

@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.message {
  width: 100%;
  padding: 2px 8px;
  word-break: break-word;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.8);
  animation: var(--chat-fade-duration) ease-in var(--chat-fade-delay);
  animation-name: fadeout;
  /* Maintain transparency after animation finishes */
  animation-fill-mode: forwards;
}

.container.focused .message {
  /* Reveal chat on focus */
  opacity: 1 !important;
  animation-fill-mode: none;
}

.newMessages {
  position: absolute;
  bottom: 39px;
  left: 0;
  z-index: 2;
  width: 100%;
  padding: 7px;
  text-align: center;
  background: linear-gradient(to bottom, rgba(125, 185, 232, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
  text-shadow: 0px 2px 0px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.username {
  composes: single-line from '~styles/text.css';
  color: var(--color-nice-blue);
  font-weight: bold;
  max-width: 240px;
  display: inline-block;
  vertical-align: top;
}

.mediaTitle {
  color: var(--color-highlight);
  font-weight: bold;
}

.textPrefix {
  margin-right: 0.5rem;
}

.broadcast {
  font-style: italic;
}

.form {
  --horizontal-padding: 12px;
  width: 100%;
  position: relative;
}

.messageInput {
  composes: anim;
  composes: rounded-bottom from '~styles/layout.css';
  width: 100%;
  height: 40px;
  padding: 8px var(--horizontal-padding);
  border: none;
  outline: none;
  background: rgba(0, 0, 0, 0.11);
}

.messageInput::-webkit-input-placeholder {
  opacity: 0.5;
}

.hint {
  composes: absolute-full center-vertical from '~styles/layout.css';
  padding: 0 var(--horizontal-padding);
  font-style: italic;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.8);
}
