.container {
  background: radial-gradient(
    circle at 10% -40%,
    #6f749e 0%,
    #9a8daf 31%,
    #d0a8b9 58%,
    #f8bbb1 80%,
    #fde6b1 100%
  );
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.column {
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
}

.column h1 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 15px;
}

.input {
  margin-bottom: 15px;
  min-height: 200px;
  resize: none;
}
