{
  "presets": [
    ["env", {
			"targets": {
				"node": 7,
				"browsers": [
					"Chrome >= 60"
				]
			},
      "useBuiltIns": true
    }],
    "stage-0",
    "react"
  ],
  "plugins": ["add-module-exports", "dynamic-import-webpack"],
  "env": {
    "production": {
      "presets": ["react-optimize"],
      "plugins": ["babel-plugin-dev-expression"]
    },
    "development": {
      "plugins": [
        "react-hot-loader/babel"
      ]
    }
  }
}
