.container {
  text-align: center;
  max-width: 680px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.idContainer {
  max-width: 644px;
  width: 100%;
}

.idText {
  font-family: 'Courier New', Courier, monospace;
  font-size: 14px;
}
