.container {
  max-width: 680px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.header {
  composes: h2 from 'styles/typography.css';
  margin-bottom: 1rem;
}

.method {
  margin-bottom: 2rem;
}

.method:last-child {
  margin: 0;
}

.idContainer {
  max-width: 600px;
  width: 100%;
}

.idText {
  font-size: 14px;
}

.notice {
  composes: rounded from 'styles/layout.css';
  position: relative;
  border: 1px solid white;
  text-align: left;
  padding: 1.5rem;
  margin-bottom: 2rem;
}

.noticeDismiss {
  position: absolute;
  top: 1.4rem;
  right: 1.4rem;
}

.discordLogo {
  filter: invert(1);
  height: 2rem;
}
