.container {
  max-width: 680px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.label {
  composes: label from 'styles/typography.css';
  display: block;
}

.descLabel {
  display: block;
}

.sessionMode button:not(:first-of-type) {
  margin-left: 1rem;
}
