.container {
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.container svg {
  margin: 0 8px;
  opacity: 0.7;
}

.locationContainer {
  flex: 1 0 auto;
  height: 100%;
  padding: 6px;
}

.locationBar {
  height: 100%;
  display: flex;
  flex-direction: row;

  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.33);
}

.addressInput {
  flex: 1 0 auto;

  height: 100%;
  background: none;
  border: none;
  outline: none;

  padding: 0 8px;
}

.addressInput:not(:focus) {
  opacity: 0.5;
}

.button:disabled {
  opacity: 0.5;
}
