.container {
  display: flex;
  width: 100%;
  height: 100%;
}

.browser {
  flex-grow: 1;
}

.sidebar {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  width: 380px;
  background: #333;
}
