.video {
  position: relative;
  width: 100%;
  max-width: 720px;
}

.video:before {
  display: block;
  content: '';
  width: 100%;
  padding-top: 56.25%; /* 16:9 */
}

.video > .content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
