.container {
  display: block;
}

.wrapper {
  position: relative;
  height: 100%;
}

.anim {
  opacity: 1;
  transition: opacity var(--overlay-anim-duration) ease-in;
}

.background {
  composes: glass rounded absolute-full from 'styles/layout.css';
  composes: anim;
  z-index: 4;
}

.foreground {
  composes: absolute-full from 'styles/layout.css';
  z-index: 5;

  display: flex;
  flex-direction: column;
}

.messages {
  flex-grow: 1;
  overflow-y: auto;
}

.message {
  width: 100%;
  padding: 2px 8px;
  word-break: break-all;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.66);
}

.username {
  color: #00bfff;
  font-weight: bold;
  margin-right: 5px;
  white-space: nowrap;
}

.form {
  composes: anim;
  width: 100%;
}

:global(.lobbyInactive) .container:not(.focused) .background,
:global(.lobbyInactive) .container:not(.focused) .form {
  opacity: 0;
}

.messageInput {
  width: 100%;
  height: 40px;
  padding: 8px 12px;
  border: none;
  outline: none;
  background: rgba(0, 0, 0, 0.11);
}

.messageInput::-webkit-input-placeholder {
  opacity: 0.5;
}
