.container {
  composes: glass rounded from 'styles/layout.css';
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.focused {
  display: flex !important;
}

.messages {
  flex-grow: 1;
  overflow-y: auto;
}

.message {
  width: 100%;
  padding: 2px 8px;
  word-wrap: break-word;
}

.username {
  color: #00bfff;
  font-weight: bold;
  margin-right: 5px;
  white-space: nowrap;
}

.form {
  width: 100%;
}

.messageInput {
  width: 100%;
  height: 40px;
  padding: 8px 12px;
  border: none;
  outline: none;
  background: rgba(0, 0, 0, 0.11);
}

.messageInput::-webkit-input-placeholder {
  opacity: 0.5;
}
