.container {
  background: var(--app-bg-other);
  height: 100%;
  display: flex;
  flex-flow: column;
}

.content {
  height: 100%;
  display: flex;
  flex-flow: column wrap;
}

.section {
  margin-bottom: 2rem;
}

.section h2 {
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 1px;
  margin-bottom: 0.8rem;
}

.section > label {
  display: block;
  font-size: 12px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  margin-bottom: 4px;
}

.section > input:not(:last-child) {
  margin-bottom: 0.8rem;
}

.colorSwatch,
.colorSwatch::-webkit-color-swatch-wrapper,
.colorSwatch::-webkit-color-swatch {
  padding: 0;
  border: none;
}

.colorSwatch {
  composes: circle from '~styles/layout.css';
  width: 40px;
  height: 40px;
  outline: none;
}

.avatarContainer {
  margin-bottom: 0.8rem;
}

.avatarList {
  display: flex;
  flex-direction: row;
  margin-bottom: 0.2rem;
}

.avatarList > *:not(:last-child) {
  margin-right: 0.5rem;
}

.small {
  font-size: 12px;
}

.blend {
  composes: blend-text-invert from '~styles/text.css';
}
