.container {
  composes: glass rounded from '~styles/layout.css';
  width: 19rem;
  -webkit-mask-image: linear-gradient(180deg, white 0%, white 20%, transparent 100%);
}

.active,
.container:hover {
  /* Fully opaque mask to hack bgblur from breaking */
  -webkit-mask-image: linear-gradient(#000, #000);
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  flex-wrap: nowrap;
}

.title {
  composes: single-line from '~styles/text.css';
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-right: 5px;
  text-overflow: clip;
}

.tagline {
  border: 1px solid rgba(255, 255, 255, 0.22);
  padding: 2px 4px;
  font-size: 12px;
  min-width: 18px;
  text-align: center;
}

.actions {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
  margin-left: auto;
}

.actions > *:not(:last-child) {
  margin-right: 0.5rem;
}

.list {
  composes: scroller from '~styles/layout.css';
  height: 200px;
  overflow-y: auto;
}

.placeholder {
  padding: 0.5rem 1rem;
  text-align: center;
  mix-blend-mode: overlay;
}
