body {
  background: transparent;
}

.container {
  padding: 0 30px;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.dim {
  background-color: rgba(0, 0, 0, 0.5);
}

:root {
  --color-btn: rgba(255, 255, 255, 0.22);
  --color-btn-text: rgba(255, 255, 255, 0.88);
  --column-width: 47rem;
}

body {
  overflow: auto;
}

.top {
  background: var(--app-bg-lobby);
}

strong {
  color: var(--color-highlight);
}

.link {
  text-decoration: underline;
}

.column {
  width: 100%;
  max-width: var(--column-width);
  padding-left: 1rem;
  padding-right: 1rem;
  margin: 0 auto;
}

.row {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.button {
  background: var(--color-btn);
  color: var(--color-btn-text);
  transition: color 120ms ease-out, background-color 120ms ease-out;
  letter-spacing: 1px;
  border-radius: 4px;
  backdrop-filter: blur(10px);
}

.button:hover {
  background: var(--color-highlight);
  color: #fff;
}

.text-container {
  flex: 1 0 auto;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: var(--column-width);
  text-align: center;
  font-size: 1.125rem;
  padding: 1rem 0;
}

.uppercase {
  text-transform: uppercase;
}
