.container {
  composes: fill-center from 'styles/layout.css';
  background: var(--app-bg-lobby);
}

.header {
  composes: h2 from 'styles/typography.css';
  margin-bottom: 1rem;
}

.info {
  composes: center-vertical from 'styles/layout.css';
  composes: select-text from 'styles/text.css';
}

.info svg {
  margin-right: 0.5rem;
}

.titlebar {
  composes: titlebar from '../GameLobby.css';
}
