.container {
  composes: dark-overlay absolute-full scroller from 'styles/layout.css';
  display: flex;
  justify-content: center;
  align-items: center;
}

.close {
  position: absolute;
  top: 20px;
  right: 20px;
  border-radius: 50%;
  width: 60px;
  height: 60px;
}
