.container {
  display: flex;
  padding: 4px 10px;
  flex-direction: row;
  align-items: center;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #444;
  margin-right: 10px;
  flex-shrink: 0;
}

.name {
  composes: single-line from 'styles/text.css';
}

.role {
  color: var(--color-highlight);
  transform: scale(0.8);
  margin-left: 5px;
  flex-shrink: 0;
}

.menuBtn {
  opacity: 0;
  margin-left: auto;
}

.menuBtn:focus,
.container:hover .menuBtn {
  opacity: 1;
}
