.progress {
  height: 100%;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.progressTrack {
  width: 100%;
  height: 2px;
  background: rgba(255, 255, 255, 0.33);
  pointer-events: none;
}

.progressBar {
  width: 50%;
  height: 100%;
  background: rgba(255, 255, 255, 0.66);
}

.progressSlider {
  height: 100%;
  flex-grow: 1;
}
