body {
  background: transparent;
}

.container {
  padding: 0 30px;
}

.dim {
  background-color: rgba(0, 0, 0, 0.5);
}

:root {
  --color-btn: rgba(255, 255, 255, 0.22);
  --color-btn-text: rgba(255, 255, 255, 0.88);
}

body {
  overflow: auto;
}

.top {
  background: var(--app-bg-lobby);
}

main {
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

strong {
  color: var(--color-highlight);
}

.link {
  text-decoration: underline;
}

.grid-container {
  --grid-width: 750px;

  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr));
  grid-auto-flow: dense;

  width: var(--grid-width);
  max-width: 100%;
}

.button {
  background: var(--color-btn);
  color: var(--color-btn-text);
  transition: color 120ms ease-out, background-color 120ms ease-out;
  letter-spacing: 1px;
  border-radius: 4px;
  backdrop-filter: blur(10px);
}

.button:hover {
  background: var(--color-highlight);
  color: #fff;
}

.social-link {
  text-decoration: none;

  display: flex;
  justify-content: center;
  align-items: center;

  height: 4rem;
  padding: 0.75rem 1rem;

  font-size: 1.5rem;
  text-align: center;
}

.text-container {
  flex: 1 0 auto;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: var(--grid-width);
  text-align: center;
  font-size: 1.125rem;
  padding: 1rem 0;
}

.input-container {
  display: flex;
  margin-top: 2rem;
  min-width: 12rem;
  max-width: 100%;
}

.button,
.input-container input {
  padding: 0.5rem 1rem;
  line-height: 1.5rem;
}

.input-container .button {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.input-container input {
  background: none;
  flex: 1 1 auto;
  border: none;
  color: #fff;
  border: 1px solid var(--color-btn);
  border-radius: 4px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.uppercase {
  text-transform: uppercase;
}
