.container {
  position: static;
}

.menu {
  composes: glass absolute-full from 'styles/layout.css';

  padding: 50px;
  display: flex;
  flex-direction: column;

  white-space: pre;
  text-align: left;
  pointer-events: none;
}
