.container {
  background: linear-gradient(200deg, #42275a, #734b6d);
  height: 100%;
  display: flex;
  flex-direction: column;
}

.section h2 {
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 1px;
  margin-bottom: 15px;
}

.section label {
  display: block;
  font-size: 12px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  margin-bottom: 4px;
}

.section input {
  margin-bottom: 15px;
}

.colorSwatch,
.colorSwatch::-webkit-color-swatch-wrapper,
.colorSwatch::-webkit-color-swatch {
  padding: 0;
  border: none;
}

.colorSwatch {
  composes: circle from 'styles/layout.css';
  width: 40px;
  height: 40px;
  outline: none;
}
