.container {
  background: linear-gradient(
    170deg,
    #20202f 0%,
    #273550 16%,
    #416081 41%,
    #adacb2 78%,
    #eac3a2 100%
  );
  width: 100%;
  height: 100%;
  position: relative;
  --overlay-spacing: 50px;
  --overlay-z-index: 2;
  --overlay-anim-duration: 160ms;
}

.overlay {
  position: absolute;
  z-index: var(--overlay-z-index);
  opacity: 1;
  transition: opacity var(--overlay-anim-duration) ease-in;
}

:global(.lobbyInactive) .overlay {
  opacity: 0;
}

:global(.modalVisible) .overlay {
  opacity: 0;
  transition: none;
}

:global(.modalVisible) .titlebar {
  opacity: 1;
}

/* Force mouse cursor to be hidden */
.inactiveOverlay {
  composes: absolute-full from 'styles/layout.css';
  z-index: 999;
  cursor: none;
}

.video {
  composes: absolute-full from 'styles/layout.css';
}

.playbackControls {
  composes: overlay;
  left: var(--overlay-spacing);
  right: var(--overlay-spacing);
  bottom: var(--overlay-spacing);
}

.titlebar {
  composes: overlay;
  top: 0;
  left: 0;
  right: 0;
}

.chat {
  position: absolute;
  z-index: var(--overlay-z-index);
  right: var(--overlay-spacing);
  bottom: 150px;
  width: 450px;

  --num-chat-lines: 6;
  height: calc(40px + 20px * var(--num-chat-lines));
}

.users,
.queue {
  composes: overlay;
  top: calc(var(--overlay-spacing) + var(--app-titlebar-height));
}

.users {
  left: var(--overlay-spacing);
}

.queue {
  right: var(--overlay-spacing);
}

.modal {
  position: absolute;
  top: var(--app-titlebar-height);
  bottom: 0;
  left: 0;
  right: 0;
  z-index: var(--overlay-z-index);
}
