.container {
  background: var(--app-titlebar-background-color);
  height: var(--app-titlebar-height);
  user-select: none;
}

.wrapper {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header-item {
  height: 100%;
  line-height: var(--app-titlebar-height);
}

.header {
  composes: header-item;
  flex: 1;

  /* overflow hidden hack */
  -webkit-mask-image: linear-gradient(#000, #000);

  /* https://github.com/electron/electron/blob/master/docs/api/frameless-window.md#draggable-region */
  -webkit-app-region: drag;
}

.title {
  composes: single-line from 'styles/text.css';
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.actions {
  composes: header-item;
  -webkit-app-region: no-drag;
  right: 0;
}

.actionButton {
  /* Windows-only font */
  font-family: Marlett;
  font-size: 16px;
  background: transparent;
  transition: background-color 80ms ease;
  border: none;
  color: var(--app-text-color);
  width: 45px;
  height: 100%;
  line-height: var(--app-titlebar-height);
  outline: none;
  opacity: 0.11;
}

.actionButton:hover {
  background: rgba(255, 255, 255, 0.3);
}

.actionButton:last-child:hover {
  background: rgba(255, 0, 0, 0.5);
}

.container:hover .actionButton {
  opacity: 1;
}

.updateButton {
  background: var(--color-highlight);
  color: var(--app-text-color);
  padding: 0 3px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 1px;
}

/* How to do this better? */
.updateButton svg {
  transform: scale(0.6);
}
